body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2C2A2B;
    margin: 0;
}

header {
    max-width: 1700px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background-color: #E34C8A;

}

header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

header a {
    text-decoration: none;
    color: #000000;
    
}

header a:hover {
    text-decoration: underline;
    color: #D1DE00;
}

header nav a {
    color: #000000;
}

header nav a:hover {
    color: #D1DE00;
}

main {
    flex-grow: 0;
}

h1{
    margin: 20px;;
    color: #fff;
    font-weight: normal;
    text-align: center;
    font-size: 68px;
    padding-left: 50px;
    gap: 10;
}

img {
    background: transparent;
    display: block;
    margin: 3em auto;
    max-width: 95%;
}

h2{
    margin: 3em;
    color: #fff;
    font-weight: normal;
    text-align: left;
    font-size: 32px;
    padding-left: 100px;
}

h3{
    margin: 3em;
    color: #fff;
    font-weight: normal;
    text-align: left;
    font-size: 32px;
    padding-left: 100px;
}

h4{
    margin: 0;
    color:#000000;
    font-weight: normal;
    text-align: left;
    font-size: 32px;
    line-height: 50px;
    background: #FEFEFE;
    border: 20px solid #E34C8A;
    border-radius: 4px;
    display: flex;
    margin: 5em auto;
    max-width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

footer {
    max-width: 1100px;
    text-align: center;
    padding: 24px;
    max-width: 1700px;
    margin: 0;
    display: block;
    padding: 18px;
    background-color: #E34C8A;
}
